@model IEnumerable<eticaretsitesi.Models.Advert>
@{
    ViewData["Title"] = "Index";
}
@Html.Partial("_alertBox")
<h1>Reklam</h1>
<p><a class="btn btn-success" asp-action="Create">Yeni Kayıt</a></p>
<table class=" table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.AdvertName)</th>
            <th>@Html.DisplayNameFor(model=>model.AdvertPicture)</th>
            <th>@Html.DisplayNameFor(model => model.AdvertLocation)</th>
            <th>Düzeltme</th>
            <th>Silme</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
            <tr >
            <td>@Html.DisplayFor(modelItem=>item.AdvertName)</td>
            <td>@Html.DisplayFor(modelItem => item.AdvertPicture)
            <img src="/Reklam_Image/@item.AdvertPicture" height="100px" width="100px"/>
            </td>
            <td>@Html.DisplayFor(modelItem => item.AdvertLocation)</td>
            <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AdvertId">Düzeltme</a></td>
            <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AdvertId">Silme</a></td>
        </tr>
    }
    </tbody>
</table>

